<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- The Modal -->
<div id="modal-box" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <strong></strong>
      <p></p>
    </div>
  </div>
  <!-- -->
  <!-- Slider main container -->
  <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (100000 - 10000) + 100000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 200000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 10000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 20000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 30000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 70000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (1000 - 4) + 100600)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 40000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (100 - 4) + 150000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 256600)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 50000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 305440)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 74003)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 2000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 80234)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 10000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 99000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 88000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 30000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4) + 188000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (100 - 6) + 108000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 30000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (1000 - 4) + 120000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just deposited $<%=  Math.floor(Math.random() * (100000 - 10000) + 10000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (50000 - 76) + 50000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 900) + 80000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 564) + 20000)%></div>
        <div class="swiper-slide">user id.<%=Math.floor(Math.random() * (1000-100)) / 100;%> just withdrew $<%=  Math.floor(Math.random() * (10000 - 4676) + 122800)%></div>
  
      </div>
      <!-- If we need pagination -->
      
  
  <script>
      const swiper = new Swiper('.swiper', {
    // Optional parameters
    
    speed: 1000,
    direction: 'horizontal',
    loop: true,
    autoplay: {
      delay: 8000
    },
    slidesPerView: 1,
    centeredSlides: true,
    allowTouchMove: false
  });
  </script>